{{- /* Helper: Calculate JSON tags */ -}}
{{- define "json_tags" }}
	{{- if .JsonTag }}{{ .JsonTag }}{{ else }}{{ .Name }}{{ if not .Required }},omitempty{{ end }}{{ end }}
{{- end }}

{{- /* Helper: Renders a single Go struct field */ -}}
{{- define "struct_field" }}
	{{- $field := .Field }}
	{{- $pkgName := .Package }}
	{{- $prefix := .Prefix }}
	{{- $suffix := .Suffix }}
	{{- $tags := .Tags }}
	{{ $field.Name | title }} {{ renderGoType $field $pkgName $prefix $suffix }} `
	{{- if contains $tags "json" }}json:"{{ template "json_tags" $field }}"{{ end }}
	{{- if contains $tags "tfsdk" }} tfsdk:"{{ $field.Name }}"{{ end }}`
{{- end }}

{{- /* Helper: Generate Request Struct Fields */ -}}
{{- define "apiRequestStructFields" }}
	{{- $prefix := .Prefix }}
	{{- $pkgName := .Package }}
	{{- range .Fields }}
	{{ template "struct_field" dict "Field" . "Package" $pkgName "Prefix" $prefix "Suffix" "" "Tags" "json tfsdk" }}
	{{- end }}
{{- end }}

{{- /* Helper: Generate Nested Request Structs */ -}}
{{- define "apiRequestNestedStructs" }}
{{- $prefix := .Prefix }}
{{- $pkgName := .Package }}
{{- range .Fields }}
{{- if eq .Type "object" }}
{{- if not .RefName }}
{{- /* Recursively generate struct for nested object */ -}}
type {{ $prefix }}{{ .Name | title }} struct {
	{{ template "apiRequestStructFields" dict "Fields" .Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) "Package" $pkgName }}
}
{{ template "apiRequestNestedStructs" dict "Fields" .Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) "Package" $pkgName }}
{{- end }}
{{- else if and (eq .Type "array") (eq .ItemType "object") }}
{{- if not .ItemSchema.RefName }}
{{- /* Recursively generate struct for array of objects */ -}}
type {{ $prefix }}{{ .Name | title }} struct {
	{{ template "apiRequestStructFields" dict "Fields" .ItemSchema.Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) "Package" $pkgName }}
}
{{ template "apiRequestNestedStructs" dict "Fields" .ItemSchema.Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) "Package" $pkgName }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}

{{- /* SDK Helper: Generate Request Struct Fields */ -}}
{{- define "sdkStructFields" }}
	{{- $prefix := .Prefix }}
	{{- $pkgName := .Package }}
	{{- range .Fields }}
	{{- if not .IsPathParam }}
	{{ template "struct_field" dict "Field" . "Package" $pkgName "Prefix" $prefix "Suffix" "Request" "Tags" "json tfsdk" }}
	{{- end }}
	{{- end }}
{{- end }}
 
{{- /* SDK Helper: Generate Nested Request Structs */ -}}
{{- define "sdkNestedStructs" }}
{{- $prefix := .Prefix }}
{{- $pkgName := .Package }}
{{- range .Fields }}
{{- if eq .Type "object" }}
{{- if not .RefName }}
type {{ $prefix }}{{ .Name | title }}Request struct {
	{{ template "sdkStructFields" dict "Fields" .Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) "Package" $pkgName }}
}
{{ template "sdkNestedStructs" dict "Fields" .Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) "Package" $pkgName }}
{{- end }}
{{- else if and (eq .Type "array") (eq .ItemType "object") }}
{{- if not .ItemSchema.RefName }}
type {{ $prefix }}{{ .Name | title }}Request struct {
	{{ template "sdkStructFields" dict "Fields" .ItemSchema.Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) "Package" $pkgName }}
}
{{ template "sdkNestedStructs" dict "Fields" .ItemSchema.Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) "Package" $pkgName }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}

{{- /* SDK Helper: Generate Attributes Struct Fields (Filtering) */ -}}
{{- define "sdkAttributesStructFields" }}
	{{- $prefix := .Prefix }}
	{{- $pkgName := .Package }}
	{{- range .Fields }}
	{{- if and (ne .Name "project") (ne .Name "offering") }}
	{{ template "struct_field" dict "Field" . "Package" $pkgName "Prefix" $prefix "Suffix" "Request" "Tags" "json" }}
	{{- end }}
	{{- end }}
{{- end }}

{{- /* SDK Helper: Generate Response Struct Fields */ -}}
{{- define "sdkResponseStructFields" }}
	{{- $prefix := .Prefix }}
	{{- $pkgName := .Package }}
	{{- range .Fields }}
	{{ template "struct_field" dict "Field" . "Package" $pkgName "Prefix" $prefix "Suffix" "Response" "Tags" "json tfsdk" }}
	{{- end }}
{{- end }}

{{- /* SDK Helper: Generate Nested Response Structs */ -}}
{{- define "sdkResponseNestedStructs" }}
{{- $prefix := .Prefix }}
{{- $pkgName := .Package }}
{{- range .Fields }}
{{- if eq .Type "object" }}
type {{ $prefix }}{{ .Name | title }}Response struct {
	{{ template "sdkResponseStructFields" dict "Fields" .Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) "Package" $pkgName }}
}
{{ template "sdkResponseNestedStructs" dict "Fields" .Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) "Package" $pkgName }}
{{- else if and (eq .Type "array") (eq .ItemType "object") }}
type {{ $prefix }}{{ .Name | title }}Response struct {
	{{ template "sdkResponseStructFields" dict "Fields" .ItemSchema.Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) "Package" $pkgName }}
}
{{ template "sdkResponseNestedStructs" dict "Fields" .ItemSchema.Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) "Package" $pkgName }}
{{- end }}
{{- end }}
{{- end }}
