generator:
  openapi_schema: "waldur_api.yaml"
  output_dir: "output"
  provider_name: "waldur"

resources:

  # Structure

  - name: "structure_project"
    base_operation_id: "projects"

  - name: "structure_customer"
    base_operation_id: "customers"

  # Marketplace

  - name: "marketplace_order"
    base_operation_id: "marketplace_orders"
    skip_operations:
      - "partial_update"  # Orders cannot be updated after creation

  - name: "marketplace_resource"
    base_operation_id: "marketplace_resources"
    skip_operations:
      - "create"   # Resources are created via marketplace orders
      - "destroy"  # Resources are terminated via marketplace orders
    update_actions:
      update_limits:
        operation: "marketplace_resources_update_limits"
        param: "limits"
        compare_key: "limits"
      update_options:
        operation: "marketplace_resources_update_options"
        param: "options"
        compare_key: "options"
    actions:
      - "pull"
      - "terminate"
      - "unlink"

  # OpenStack - Order plugin resources

  - name: "openstack_tenant"
    base_operation_id: "openstack_tenants"
    plugin: order
    offering_type: OpenStack.Tenant
    update_actions:
      push_security_groups:
        operation: "openstack_tenants_push_security_groups"
        param: "security_groups"
        compare_key: "security_groups"
    actions:
      - "pull"
      - "unlink"

  - name: "openstack_volume"
    base_operation_id: "openstack_volumes"
    plugin: order
    offering_type: OpenStack.Volume
    update_actions:
      retype:
        operation: "openstack_volumes_retype"
        param: "type"
        compare_key: "type"
      extend:
        operation: "openstack_volumes_extend"
        param: "size"
        compare_key: "size"
    actions:
      - "pull"
      - "unlink"

  - name: "openstack_volume_attachment"
    base_operation_id: "openstack_volumes"
    link_op: "openstack_volumes_attach"
    unlink_op: "openstack_volumes_detach"
    link_check_key: "instance"
    source:
      param: "volume"
      retrieve_op: "openstack_volumes_retrieve"
    target:
      param: "instance"
    link_params:
      - name: "device"
        type: "string"

  - name: "openstack_instance"
    base_operation_id: "openstack_instances"
    plugin: order
    offering_type: OpenStack.Instance
    termination_attributes:
      - name: delete_volumes
        type: boolean
      - name: release_floating_ips
        type: boolean
    update_actions:
      update_ports:
        operation: "openstack_instances_update_ports"
        param: "ports"
        compare_key: "ports"
      update_security_groups:
        operation: "openstack_instances_update_security_groups"
        param: "security_groups"
        compare_key: "security_groups"
      update_floating_ips:
        operation: "openstack_instances_update_floating_ips"
        param: "floating_ips"
        compare_key: "floating_ips"
    actions:
      - "start"
      - "stop"
      - "restart"
      - "pull"
      - "unlink"

  # OpenStack - CRUD resources

  - name: "openstack_security_group"
    base_operation_id: "openstack_security_groups"
    create_operation:
      operation_id: "openstack_tenants_create_security_group"
      path_params:
        uuid: "tenant"
    update_actions:
      set_rules:
        operation: "openstack_security_groups_set_rules"
        param: "rules"

  - name: "openstack_network"
    base_operation_id: "openstack_networks"
    create_operation:
      operation_id: "openstack_tenants_create_network"
      path_params:
        uuid: "tenant"
    update_actions:
      set_mtu:
        operation: "openstack_networks_set_mtu"
        param: "mtu"
    actions:
      - "pull"
      - "unlink"

  - name: "openstack_server_group"
    base_operation_id: "openstack_server_groups"
    create_operation:
      operation_id: "openstack_tenants_create_server_group"
      path_params:
        uuid: "tenant"

  - name: "openstack_subnet"
    base_operation_id: "openstack_subnets"
    create_operation:
      operation_id: "openstack_networks_create_subnet"
      path_params:
        uuid: "network"
    actions:
      - "connect"
      - "disconnect"
      - "pull"
      - "unlink"

  - name: "openstack_network_rbac_policy"
    base_operation_id: "openstack_network_rbac_policies"
    composite_keys:
      - "network"
      - "target_tenant"

  - name: "openstack_floating_ip"
    base_operation_id: "openstack_floating_ips"
    skip_operations:
      - "partial_update"  # Uses specific update actions
    create_operation:
      operation_id: "openstack_tenants_create_floating_ip"
      path_params:
        uuid: "tenant"
    update_actions:
      update_description:
        operation: "openstack_floating_ips_update_description"
        param: "description"

  - name: "openstack_port"
    base_operation_id: "openstack_ports"
    skip_operations:
      - "partial_update"  # Uses specific update actions
    update_actions:
      update_security_groups:
        operation: "openstack_ports_update_security_groups"
        param: "security_groups"
        compare_key: "security_groups"
    actions:
      - "enable_port"
      - "disable_port"
      - "enable_port_security"
      - "disable_port_security"
      - "pull"
      - "unlink"

data_sources:

  # Structure
  - name: "structure_project"
    base_operation_id: "projects"

  - name: "structure_customer"
    base_operation_id: "customers"

  # Core
  - name: "core_ssh_public_key"
    base_operation_id: "keys"

  # Marketplace
  - name: "marketplace_offering"
    base_operation_id: "marketplace_public_offerings"

  - name: "marketplace_order"
    base_operation_id: "marketplace_orders"

  - name: "marketplace_resource"
    base_operation_id: "marketplace_resources"

  # OpenStack
  - name: "openstack_tenant"
    base_operation_id: "openstack_tenants"

  - name: "openstack_volume"
    base_operation_id: "openstack_volumes"

  - name: "openstack_instance"
    base_operation_id: "openstack_instances"

  - name: "openstack_security_group"
    base_operation_id: "openstack_security_groups"

  - name: "openstack_subnet"
    base_operation_id: "openstack_subnets"

  - name: "openstack_network"
    base_operation_id: "openstack_networks"

  - name: "openstack_flavor"
    base_operation_id: "openstack_flavors"

  - name: "openstack_image"
    base_operation_id: "openstack_images"

  - name: "openstack_volume_type"
    base_operation_id: "openstack_volume_types"

  - name: "openstack_port"
    base_operation_id: "openstack_ports"
    
  - name: "openstack_server_group"
    base_operation_id: "openstack_server_groups"

  - name: "openstack_network_rbac_policy"
    base_operation_id: "openstack_network_rbac_policies"

  - name: "openstack_floating_ip"
    base_operation_id: "openstack_floating_ips"
