generator:
  openapi_schema: "waldur_api.yaml"
  output_dir: "output"
  provider_name: "waldur"

resources:
  # Structure
  - name: "structure_project"
    base_operation_id: "projects"
  - name: "structure_customer"
    base_operation_id: "customers"

  # Marketplace
  - name: "marketplace_order"
    base_operation_id: "marketplace_orders"
    skip_operations:
      - "partial_update"  # Orders cannot be updated after creation
  - name: "marketplace_offering"
    base_operation_id: "marketplace_provider_offerings"
    skip_operations:
      - "partial_update"  # Provider offerings use specific update actions
  - name: "marketplace_resource"
    base_operation_id: "marketplace_resources"
    skip_operations:
      - "create"   # Resources are created via marketplace orders
      - "destroy"  # Resources are terminated via marketplace orders

  # OpenStack - Order plugin resources
  - name: "openstack_vpc"
    base_operation_id: "openstack_tenants"
    plugin: order
    offering_type: OpenStack.Tenant
  - name: "openstack_volume"
    base_operation_id: "openstack_volumes"
    plugin: order
    offering_type: OpenStack.Volume
  - name: "openstack_instance"
    base_operation_id: "openstack_instances"
    plugin: order
    offering_type: OpenStack.Instance
    termination_attributes:
      - name: delete_volumes
        type: boolean
      - name: release_floating_ips
        type: boolean

  # OpenStack - CRUD resources
  - name: "openstack_security_group"
    base_operation_id: "openstack_security_groups"
    skip_operations:
      - "create"   # Created via tenant API
  - name: "openstack_network"
    base_operation_id: "openstack_networks"
    skip_operations:
      - "create"   # Created via tenant API
  - name: "openstack_server_group"
    base_operation_id: "openstack_server_groups"
    skip_operations:
      - "create"   # Created via tenant API
  - name: "openstack_subnet"
    base_operation_id: "openstack_subnets"
    skip_operations:
      - "create"   # Created via network API
  - name: "openstack_floating_ip"
    base_operation_id: "openstack_floating_ips"
    skip_operations:
      - "create"          # Created via tenant API
      - "partial_update"  # Uses specific update actions
  - name: "openstack_port"
    base_operation_id: "openstack_ports"
    skip_operations:
      - "create"          # OpenStack ports are created internally
      - "partial_update"  # Uses specific update actions

data_sources:
  # Structure
  - name: "structure_project"
    base_operation_id: "projects"
    filter_params:
      - "name"
      - "customer_uuid"

  # Core
  - name: "core_ssh_public_key"
    base_operation_id: "keys"
    filter_params:
      - "name"

  # Marketplace
  - name: "marketplace_offering"
    base_operation_id: "marketplace_public_offerings"
    filter_params:
      - "name"
      - "project_uuid"
  - name: "marketplace_order"
    base_operation_id: "marketplace_orders"
    filter_params:
      - "resource_name"
  - name: "marketplace_resource"
    base_operation_id: "marketplace_resources"
    filter_params:
      - "name"
      - "project_uuid"

  # OpenStack
  - name: "openstack_vpc"
    base_operation_id: "openstack_tenants"
    filter_params:
      - "name"
      - "project_uuid"
      - "customer_uuid"
  - name: "openstack_volume"
    base_operation_id: "openstack_volumes"
    filter_params:
      - "name"
      - "tenant_uuid"
  - name: "openstack_instance"
    base_operation_id: "openstack_instances"
    filter_params:
      - "name"
      - "tenant_uuid"
  - name: "openstack_security_group"
    base_operation_id: "openstack_security_groups"
    filter_params:
      - "name"
      - "tenant_uuid"
  - name: "openstack_subnet"
    base_operation_id: "openstack_subnets"
    filter_params:
      - "name"
      - "tenant_uuid"
  - name: "openstack_network"
    base_operation_id: "openstack_networks"
    filter_params:
      - "name"
      - "tenant_uuid"
  - name: "openstack_flavor"
    base_operation_id: "openstack_flavors"
    filter_params:
      - "name"
      - "tenant_uuid"
  - name: "openstack_image"
    base_operation_id: "openstack_images"
    filter_params:
      - "name"
      - "tenant_uuid"
  - name: "openstack_volume_type"
    base_operation_id: "openstack_volume_types"
    filter_params:
      - "name"
      - "tenant_uuid"
  - name: "openstack_port"
    base_operation_id: "openstack_ports"
    filter_params:
      - "name"
      - "tenant_uuid"
      - "backend_id"
