package {{ .CleanName }}

import (
	"context"

	"github.com/hashicorp/terraform-plugin-framework-timetypes/timetypes"
	"github.com/hashicorp/terraform-plugin-framework/attr"
	"github.com/hashicorp/terraform-plugin-framework/diag"
	"github.com/hashicorp/terraform-plugin-framework/resource/schema"
	"github.com/hashicorp/terraform-plugin-framework/schema/validator"
	"github.com/hashicorp/terraform-plugin-framework-validators/stringvalidator"
	"github.com/hashicorp/terraform-plugin-framework/types"

	"github.com/waldur/terraform-provider-waldur/internal/sdk/common"
)

{{- range .NestedStructs }}
func {{ .AttrTypeRef }}Type() types.ObjectType {
	return {{ toAttrTypeDefinition . }}
}
{{- end }}


{{- if .FilterParams }}
type {{ .Name | title }}FiltersModel struct {
	{{- range .FilterParams }}
	{{ .Name | title }} types.{{ .Type }} `tfsdk:"{{ .Name }}"`
	{{- end }}
}

func (m *{{ .Name | title }}FiltersModel) GetSchema() schema.SingleNestedAttribute {
	return schema.SingleNestedAttribute{
		Optional:            true,
		MarkdownDescription: "Filter parameters for querying {{ .Name | humanize }}",
		Attributes: map[string]schema.Attribute{
			{{- range .FilterParams }}
			"{{ .Name }}": schema.{{ .Type }}Attribute{
				Optional:            true,
				MarkdownDescription: "{{ or .Description " " }}{{- if .Enum }} Allowed values: {{ range $i, $e := .Enum }}{{ if $i }}, {{ end }}`{{ $e }}`{{ end }}.{{ end }}",
				{{- if and (eq .Type "String") .Enum }}
				Validators: []validator.String{
					stringvalidator.OneOf({{ range $i, $e := .Enum }}{{ if $i }}, {{ end }}"{{ $e }}"{{ end }}),
				},
				{{- end }}
			},
			{{- end }}
		},
	}
}
{{- end }}

type {{ .Name | title }}Model struct {
	UUID types.String `tfsdk:"id"`
	{{- range .ResponseFields }}
	{{- if not .SchemaSkip }}
	{{- if eq .Format "date-time" }}
	{{ .Name | title }} timetypes.RFC3339 `tfsdk:"{{ .Name }}"`
	{{- else }}
	{{ .Name | title }} {{ .GoType }} `tfsdk:"{{ .Name }}"`
	{{- end }}
	{{- end }}
	{{- end }}
}

// CopyFrom maps the API response to the model fields.
func (model *{{ .Name | title }}Model) CopyFrom(ctx context.Context, apiResp {{ .Name | title }}Response) diag.Diagnostics {
	var diags diag.Diagnostics

	model.UUID = types.StringPointerValue(apiResp.UUID)
	{{- template "mapResponseToModel" . }}

	return diags
}
