package resources_test

import (
	"fmt"
	"net/http"
	"net/http/httptest"
	"strings"
	"testing"

	"github.com/hashicorp/terraform-plugin-framework/providerserver"
	"github.com/hashicorp/terraform-plugin-go/tfprotov6"
	"github.com/hashicorp/terraform-plugin-testing/helper/resource"

	"github.com/waldur/terraform-waldur-provider/internal/provider"
)

var testAccProtoV6ProviderFactories{{ .Name | title }} = map[string]func() (tfprotov6.ProviderServer, error){
	"waldur": providerserver.NewProtocol6WithError(provider.New("test")()),
}

func TestAcc{{ .Name | title }}Resource_Basic(t *testing.T) {
	uuid := "550e8400-e29b-41d4-a716-446655440000"
	
	// Initialize state variables to track resource state across requests
	{{- range .ModelFields }}
	{{- if and (not .ReadOnly) (ne .Name "uuid") }}
	{{- if eq .Type "string" }}
	{{ .Name }} := "test-{{ .Name }}"
	{{- else if eq .Type "integer" }}
	{{ .Name }} := 123
	{{- else if eq .Type "boolean" }}
	{{ .Name }} := true
	{{- end }}
	{{- end }}
	{{- end }}

	// Create a test server
	server := httptest.NewServer(http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		t.Logf("Request: %s %s", r.Method, r.URL.Path)
		
		retrievePath := strings.Replace("{{ .APIPaths.Retrieve }}", "{uuid}", uuid, 1)
		
		switch {
		case r.Method == "POST" && r.URL.Path == "{{ .APIPaths.Create }}":
			// Create operation
			w.Header().Set("Content-Type", "application/json")
			w.WriteHeader(http.StatusCreated)
			w.Write([]byte(fmt.Sprintf(`{{ template "mockResponseJSON" . }}`, 
			uuid,
			{{- range .ModelFields }}
			{{- if and (ne .Name "uuid") (not .ReadOnly) }}
			{{ .Name }},
			{{- end }}
			{{- end }}
			)))
			
		case r.Method == "GET" && r.URL.Path == retrievePath:
			// Read operation - returns current state
			w.Header().Set("Content-Type", "application/json")
			w.WriteHeader(http.StatusOK)
			w.Write([]byte(fmt.Sprintf(`{{ template "mockResponseJSON" . }}`, 
			uuid,
			{{- range .ModelFields }}
			{{- if and (ne .Name "uuid") (not .ReadOnly) }}
			{{ .Name }},
			{{- end }}
			{{- end }}
			)))
			
		case r.Method == "PATCH" && r.URL.Path == retrievePath:
			// Update operation
			// Update state variables
			{{- range .UpdateFields }}
			{{- if eq .Type "string" }}
			{{ .Name }} = "updated-{{ .Name }}"
			{{- else if eq .Type "integer" }}
			{{ .Name }} = 456
			{{- else if eq .Type "boolean" }}
			{{ .Name }} = false
			{{- end }}
			{{- end }}

			w.Header().Set("Content-Type", "application/json")
			w.WriteHeader(http.StatusOK)
			w.Write([]byte(fmt.Sprintf(`{{ template "mockResponseJSON" . }}`, 
			uuid,
			{{- range .ModelFields }}
			{{- if and (ne .Name "uuid") (not .ReadOnly) }}
			{{ .Name }},
			{{- end }}
			{{- end }}
			)))
			
		case r.Method == "DELETE" && r.URL.Path == retrievePath:
			// Delete operation
			w.WriteHeader(http.StatusNoContent)
			
		default:
			w.WriteHeader(http.StatusNotFound)
		}
	}))
	defer server.Close()

	resource.Test(t, resource.TestCase{
		ProtoV6ProviderFactories: testAccProtoV6ProviderFactories{{ .Name | title }},
		Steps: []resource.TestStep{
			// Create and Read testing
			{
				Config: testAcc{{ .Name | title }}ResourceConfig_Create(server.URL),
				Check: resource.ComposeAggregateTestCheckFunc(
					resource.TestCheckResourceAttrSet("waldur_{{ .Name }}.test", "id"),
					{{- range .ModelFields }}
					{{- if ne .Name "uuid" }}
					{{- if .ReadOnly }}
					{{- if eq .Type "array" }}
					{{- if eq .ItemType "string" }}
					resource.TestCheckResourceAttr("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}.#", "2"),
					resource.TestCheckResourceAttr("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}.0", "tag1"),
					resource.TestCheckResourceAttr("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}.1", "tag2"),
					{{- else }}
					resource.TestCheckResourceAttrSet("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}"),
					{{- end }}
					{{- else }}
					resource.TestCheckResourceAttrSet("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}"),
					{{- end }}
					{{- else }}
					{{- if eq .Type "string" }}
					resource.TestCheckResourceAttr("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}", "test-{{ .Name }}"),
					{{- else if eq .Type "integer" }}
					resource.TestCheckResourceAttr("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}", "123"),
					{{- else if eq .Type "boolean" }}
					resource.TestCheckResourceAttr("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}", "true"),
					{{- end }}
					{{- end }}
					{{- end }}
					{{- end }}
				),
			},
			// Update testing
			{
				Config: testAcc{{ .Name | title }}ResourceConfig_Update(server.URL),
				Check: resource.ComposeAggregateTestCheckFunc(
					resource.TestCheckResourceAttrSet("waldur_{{ .Name }}.test", "id"),
					{{- range .ModelFields }}
					{{- if ne .Name "uuid" }}
					{{- if .ReadOnly }}
					{{- if eq .Type "array" }}
					{{- if eq .ItemType "string" }}
					resource.TestCheckResourceAttr("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}.#", "2"),
					resource.TestCheckResourceAttr("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}.0", "tag1"),
					resource.TestCheckResourceAttr("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}.1", "tag2"),
					{{- else }}
					resource.TestCheckResourceAttrSet("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}"),
					{{- end }}
					{{- else }}
					resource.TestCheckResourceAttrSet("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}"),
					{{- end }}
					{{- else }}
					{{- if eq .Type "string" }}
					resource.TestCheckResourceAttr("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}", "updated-{{ .Name }}"),
					{{- else if eq .Type "integer" }}
					resource.TestCheckResourceAttr("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}", "456"),
					{{- else if eq .Type "boolean" }}
					resource.TestCheckResourceAttr("waldur_{{ $.Name }}.test", "{{ .TFSDKName }}", "false"),
					{{- end }}
					{{- end }}
					{{- end }}
					{{- end }}
				),
			},
			// Delete testing automatically happens via Terraform
		},
	})
}

// testAcc{{ .Name | title }}ResourceConfig_Create returns a Terraform config for testing create
func testAcc{{ .Name | title }}ResourceConfig_Create(endpoint string) string {
	return fmt.Sprintf(`
provider "waldur" {
  endpoint = %[1]q
  token    = "test-token"
}

resource "waldur_{{ .Name }}" "test" {
  {{- range .CreateFields }}
  {{- if eq .Type "string" }}
  {{ .TFSDKName }} = "test-{{ .Name }}"
  {{- else if eq .Type "integer" }}
  {{ .TFSDKName }} = 123
  {{- else if eq .Type "boolean" }}
  {{ .TFSDKName }} = true
  {{- end }}
  {{- end }}
}
`, endpoint)
}

// testAcc{{ .Name | title }}ResourceConfig_Update returns a Terraform config for testing update
func testAcc{{ .Name | title }}ResourceConfig_Update(endpoint string) string {
	return fmt.Sprintf(`
provider "waldur" {
  endpoint = %[1]q
  token    = "test-token"
}

resource "waldur_{{ .Name }}" "test" {
  {{- range .UpdateFields }}
  {{- if eq .Type "string" }}
  {{ .TFSDKName }} = "updated-{{ .Name }}"
  {{- else if eq .Type "integer" }}
  {{ .TFSDKName }} = 456
  {{- else if eq .Type "boolean" }}
  {{ .TFSDKName }} = false
  {{- end }}
  {{- end }}
}
`, endpoint)
}
