package {{ .Package }}

import (
	"context"
	"fmt"
	"strings"

	"github.com/waldur/terraform-provider-waldur/internal/client"
	"github.com/waldur/terraform-provider-waldur/internal/sdk/common"
)
{{- $res := index .Resources 0 }}

type {{ $res.Name | title }}Client struct {
	Client *client.Client
}

func New{{ $res.Name | title }}Client(c *client.Client) *{{ $res.Name | title }}Client {
	return &{{ $res.Name | title }}Client{Client: c}
}

func (c *{{ $res.Name | title }}Client) Configure(ctx context.Context, providerData interface{}) error {
	if providerData == nil {
		return nil
	}

	raw, ok := providerData.(*client.Client)
	if !ok {
		return fmt.Errorf("unexpected provider data type: %T", providerData)
	}

	c.Client = raw
	return nil
}

func IsNotFoundError(err error) bool {
	return common.IsNotFoundError(err)
}

{{ range .Resources }}
{{ if not .IsDatasourceOnly -}}
{{- if .IsOrder }}
// CreateOrder creates a marketplace order for this resource.
func (c *{{ .Name | title }}Client) CreateOrder(ctx context.Context, req *{{ .Name | title }}CreateRequest) (*common.OrderDetails, error) {
	var apiResp common.OrderDetails
	err := c.Client.Post(ctx, "/api/marketplace-orders/", req, &apiResp)
	if err != nil {
		return nil, err
	}
	return &apiResp, nil
}

// Terminate terminates the resource via marketplace.
func (c *{{ .Name | title }}Client) Terminate(ctx context.Context, id string, req map[string]interface{}) (string, error) {
	var res map[string]interface{}
	err := c.Client.ExecuteAction(ctx, "/api/marketplace-resources/{uuid}/terminate/", id, req, &res)
	if err != nil {
		return "", err
	}
	if uuid, ok := res["uuid"].(string); ok {
		return uuid, nil
	}
	return "", nil
}
{{- else }}
{{- if .APIPaths.Create }}
func (c *{{ .Name | title }}Client) Create(ctx context.Context{{ if .CreateOperation }}{{ range $key, $value := .CreateOperation.PathParams }}, {{ $value }} string{{ end }}{{ end }}, req *{{ .Name | title }}CreateRequest) (*{{ .Name | title }}Response, error) {
	var apiResp {{ .Name | title }}Response
	
	{{- $customCreate := false }}
	{{- if .CreateOperation }}
	{{- if eq (len .CreateOperation.PathParams) 1 }}
	{{- if .CreateOperation.PathParams.uuid }}
	{{- $customCreate = true }}
	{{- $fieldName := index .CreateOperation.PathParams "uuid" }}
	err := c.Client.ExecuteAction(ctx, "{{ .APIPaths.Create }}", {{ $fieldName }}, req, &apiResp)
	{{- end }}
	{{- end }}
	{{- end }}

	{{- if not $customCreate }}
	path := "{{ .APIPaths.Create }}"
	{{- if .CreateOperation }}
	{{- range $key, $value := .CreateOperation.PathParams }}
	path = strings.Replace(path, "{{"{"}}{{ $key }}{{"}"}}", {{ $value }}, 1)
	{{- end }}
	{{- end }}

	err := c.Client.Post(ctx, path, req, &apiResp)
	{{- end }}
	if err != nil {
		return nil, err
	}
	return &apiResp, nil
}
{{- end }}
{{- end }}
{{- end }}


func (c *{{ .Name | title }}Client) Get(ctx context.Context, id string) (*{{ .Name | title }}Response, error) {
	var apiResp {{ .Name | title }}Response
	err := c.Client.Get(ctx, "{{ .APIPaths.Retrieve }}", id, &apiResp)
	if err != nil {
		return nil, err
	}
	return &apiResp, nil
}

{{ if not .IsDatasourceOnly -}}
{{- if .APIPaths.Update }}
func (c *{{ .Name | title }}Client) Update(ctx context.Context, id string, req *{{ .Name | title }}UpdateRequest) (*{{ .Name | title }}Response, error) {
	var apiResp {{ .Name | title }}Response
	err := c.Client.Update(ctx, "{{ .APIPaths.Update }}", id, req, &apiResp)
	if err != nil {
		return nil, err
	}
	return &apiResp, nil
}
{{- end }}

{{- if .APIPaths.Delete }}
func (c *{{ .Name | title }}Client) Delete(ctx context.Context, id string) error {
	return c.Client.Delete(ctx, "{{ .APIPaths.Delete }}", id)
}
{{- end }}
{{- end }}


func (c *{{ .Name | title }}Client) List(ctx context.Context, filter map[string]string) ([]{{ .Name | title }}Response, error) {
	var listResult []{{ .Name | title }}Response
	err := c.Client.List(ctx, "{{ .APIPaths.Base }}", filter, &listResult)
	if err != nil {
		return nil, err
	}
	return listResult, nil
}



{{ if not .IsDatasourceOnly -}}
{{- if .APIPaths.Terminate }}
func (c *{{ .Name | title }}Client) Terminate(ctx context.Context, id string, req map[string]interface{}) (string, error) {
	var res map[string]interface{}
	err := c.Client.ExecuteAction(ctx, "{{ .APIPaths.Terminate }}", id, req, &res)
	if err != nil {
		return "", err
	}
	if uuid, ok := res["uuid"].(string); ok {
		return uuid, nil
	}
	return "", nil
}
{{- end }}

{{- if .APIPaths.Link }}
func (c *{{ .Name | title }}Client) Link(ctx context.Context, req *{{ .Name | title }}CreateRequest) (*{{ .Name | title }}Response, error) {
	{{- if .Source.Param }}
	sourceUUID := *req.{{ .Source.Param | title }}
	{{- else }}
	sourceUUID := ""
	{{- end }}
	
	var apiResp {{ .Name | title }}Response
	err := c.Client.ExecuteAction(ctx, "{{ .APIPaths.Link }}", sourceUUID, req, &apiResp)
	if err != nil {
		return nil, err
	}
	return &apiResp, nil
}
{{- end }}

{{- if .APIPaths.Unlink }}
func (c *{{ .Name | title }}Client) Unlink(ctx context.Context, sourceUUID string) error {
	err := c.Client.ExecuteAction(ctx, "{{ .APIPaths.Unlink }}", sourceUUID, nil, nil)
	return err
}
{{- end }}

{{- $resName := .Name }}
{{- $ops := .Operations }}
{{- range $action := .UpdateActions }}
func (c *{{ $resName | title }}Client) {{ $action.Name | title }}(ctx context.Context, id string, req *{{ $resName | title }}{{ $action.Name | title }}ActionRequest) error {
	{{- if $action.Path }}
	path := "{{ $action.Path }}"
	{{- else }}
	path := fmt.Sprintf("/api/{{ $ops.List | replace "_list" "" | replace "_" "-" }}/%s/{{ $action.Name }}/", "%s")
	{{- end }}
	err := c.Client.ExecuteAction(ctx, path, id, req, nil)
	return err
}
{{- end }}

{{- range $action := .StandaloneActions }}
func (c *{{ $resName | title }}Client) {{ $action.Name | title }}(ctx context.Context, id string) error {
	err := c.Client.ExecuteAction(ctx, "{{ $action.Path }}", id, nil, nil)
	return err
}
{{- end }}
{{- end }}

{{ end }}
