package sdk

import (
	"context"
	"fmt"
	"strings"

	"github.com/waldur/terraform-provider-waldur/internal/client"
)

type Client struct {
	Client *client.Client
}

func NewClient(c *client.Client) *Client {
	_ = fmt.Errorf
	_ = strings.Split
	return &Client{Client: c}
}

func (c *Client) Create(ctx context.Context, path string, body interface{}, result interface{}) error {
	return c.Client.Create(ctx, path, body, result)
}

func (c *Client) GetByUUID(ctx context.Context, path string, uuid string, result interface{}) error {
	return c.Client.GetByUUID(ctx, path, uuid, result)
}

func (c *Client) Update(ctx context.Context, path string, uuid string, body interface{}, result interface{}) error {
	return c.Client.Update(ctx, path, uuid, body, result)
}

func (c *Client) DeleteByUUID(ctx context.Context, path string, uuid string) error {
	return c.Client.DeleteByUUID(ctx, path, uuid)
}

func (c *Client) Post(ctx context.Context, path string, body interface{}, result interface{}) error {
	return c.Client.Post(ctx, path, body, result)
}

func (c *Client) ListWithFilter(ctx context.Context, path string, filter map[string]string, result interface{}) error {
	return c.Client.ListWithFilter(ctx, path, filter, result)
}

{{ range .Resources }}
// {{ .Name | title }} Operations


{{- if .IsOrder }}
func (c *Client) Create{{ .Name | title }}Order(ctx context.Context, req *{{ .Name | title }}CreateRequest) (*MarketplaceOrderResponse, error) {
	var apiResp MarketplaceOrderResponse
	path := "/api/marketplace-orders/"
	
	err := c.Client.Post(ctx, path, req, &apiResp)
	if err != nil {
		return nil, err
	}
	return &apiResp, nil
}

func (c *Client) Terminate{{ .Name | title }}(ctx context.Context, id string, req map[string]interface{}) (string, error) {
	path := fmt.Sprintf("/api/marketplace-resources/%s/terminate/", id) // Manually constructing path here as it is fixed pattern
	var res map[string]interface{}
	err := c.Client.Post(ctx, path, req, &res)
	if err != nil {
		return "", err
	}
	if uuid, ok := res["uuid"].(string); ok {
		return uuid, nil
	}
	return "", nil
}
{{- else }}
func (c *Client) Create{{ .Name | title }}(ctx context.Context, req *{{ .Name | title }}CreateRequest) (*{{ .Name | title }}Response, error) {
	var apiResp {{ .Name | title }}Response
	path := "{{ .APIPaths.Create }}"
	
	{{- if .CreateOperation }}
	{{- range $key, $value := .CreateOperation.PathParams }}
	path = strings.Replace(path, "{{"{"}}{{ $key }}{{"}"}}", *req.{{ $value | title }}, 1)
	{{- end }}
	{{- end }}

	err := c.Client.Post(ctx, path, req, &apiResp)
	if err != nil {
		return nil, err
	}
	return &apiResp, nil
}
{{- end }}


func (c *Client) Get{{ .Name | title }}(ctx context.Context, id string) (*{{ .Name | title }}Response, error) {
	var apiResp {{ .Name | title }}Response
	err := c.Client.GetByUUID(ctx, "{{ .APIPaths.Retrieve }}", id, &apiResp)
	if err != nil {
		return nil, err
	}
	return &apiResp, nil
}

{{- if .APIPaths.Update }}
func (c *Client) Update{{ .Name | title }}(ctx context.Context, id string, req *{{ .Name | title }}UpdateRequest) (*{{ .Name | title }}Response, error) {
	var apiResp {{ .Name | title }}Response
	err := c.Client.Update(ctx, "{{ .APIPaths.Update }}", id, req, &apiResp)
	if err != nil {
		return nil, err
	}
	return &apiResp, nil
}
{{- end }}

{{- if .APIPaths.Delete }}
func (c *Client) Delete{{ .Name | title }}(ctx context.Context, id string) error {
	return c.Client.DeleteByUUID(ctx, "{{ .APIPaths.Delete }}", id)
}
{{- end }}


// List{{ .Name | title }}
func (c *Client) List{{ .Name | title }}(ctx context.Context, filter map[string]string) ([]{{ .Name | title }}Response, error) {
	var listResult []{{ .Name | title }}Response
	path := "{{ .APIPaths.Base }}"
	err := c.Client.ListWithFilter(ctx, path, filter, &listResult)
	if err != nil {
		return nil, err
	}
	return listResult, nil
}

{{- if .APIPaths.Terminate }}
func (c *Client) Terminate{{ .Name | title }}(ctx context.Context, id string, req map[string]interface{}) (string, error) {
	path := strings.Replace("{{ .APIPaths.Terminate }}", "{uuid}", id, 1)
	var res map[string]interface{}
	err := c.Client.Post(ctx, path, req, &res)
	if err != nil {
		return "", err
	}
	if uuid, ok := res["uuid"].(string); ok {
		return uuid, nil
	}
	return "", nil
}
{{- end }}

{{- if .APIPaths.Link }}
func (c *Client) Link{{ .Name | title }}(ctx context.Context, req *{{ .Name | title }}CreateRequest) (*{{ .Name | title }}Response, error) {
	{{- if .Source.Param }}
	sourceUUID := *req.{{ .Source.Param | title }}
	path := strings.Replace("{{ .APIPaths.Link }}", "{uuid}", sourceUUID, 1)
	{{- else }}
	path := "{{ .APIPaths.Link }}"
	{{- end }}
	
	var apiResp {{ .Name | title }}Response
	err := c.Client.Post(ctx, path, req, &apiResp)
	if err != nil {
		return nil, err
	}
	return &apiResp, nil
}
{{- end }}

{{- if .APIPaths.Unlink }}
func (c *Client) Unlink{{ .Name | title }}(ctx context.Context, sourceUUID string) error {
	path := strings.Replace("{{ .APIPaths.Unlink }}", "{uuid}", sourceUUID, 1)
	return c.Client.Post(ctx, path, nil, nil)
}
{{- end }}

{{- $resName := .Name }}
{{- $ops := .Operations }}
{{- range $action := .UpdateActions }}
func (c *Client) {{ $resName | title }}{{ $action.Name | title }}(ctx context.Context, id string, req *{{ $resName | title }}{{ $action.Name | title }}ActionRequest) error {
	{{- if $action.Path }}
	path := strings.Replace("{{ $action.Path }}", "{uuid}", id, 1)
	{{- else }}
	path := fmt.Sprintf("/api/{{ $ops.List | replace "_list" "" | replace "_" "-" }}/%s/{{ $action.Name }}/", id)
	{{- end }}
	var res map[string]interface{}
	return c.Client.Post(ctx, path, req, &res)
}
{{- end }}


{{ end }}

