package {{ .Package }}

{{ if ne .Package "common" }}
import (
	"github.com/waldur/terraform-provider-waldur/internal/sdk/common"
)
{{ end }}

{{ range .SharedStructs }}
type {{ .RefName }} struct {
	{{ template "sdkStructFields" dict "Fields" .Properties "Prefix" .RefName "Package" $.Package }}
}
{{ template "sdkNestedStructs" dict "Fields" .Properties "Prefix" .RefName "Package" $.Package }}
{{ end }}

{{ range .Resources }}
type {{ .Name | title }}CreateRequest struct {
	{{- if .IsOrder }}
	Project  *string `json:"project"`
	Offering *string `json:"offering"`
	Plan     *string `json:"plan,omitempty"`
	Limits   map[string]float64 `json:"limits,omitempty"`
	Attributes {{ .Name | title }}CreateAttributes `json:"attributes"`
	{{- else }}
	{{ template "sdkStructFields" dict "Fields" .CreateFields "Prefix" (printf "%sCreate" (.Name | title)) "Package" $.Package }}
	{{- end }}
}

{{- if .IsOrder }}
type {{ .Name | title }}CreateAttributes struct {
	{{ template "sdkAttributesStructFields" dict "Fields" .CreateFields "Prefix" (printf "%sCreate" (.Name | title)) "Package" $.Package }}
}
{{- end }}

{{ template "sdkNestedStructs" dict "Fields" .CreateFields "Prefix" (printf "%sCreate" (.Name | title)) "Package" $.Package }}

{{- if .UpdateFields }}
type {{ .Name | title }}UpdateRequest struct {
	{{ template "sdkStructFields" dict "Fields" .UpdateFields "Prefix" (printf "%sUpdate" (.Name | title)) "Package" $.Package }}
}
{{ template "sdkNestedStructs" dict "Fields" .UpdateFields "Prefix" (printf "%sUpdate" (.Name | title)) "Package" $.Package }}
{{- end }}

{{- $resName := .Name }}
{{- $modelFields := .ModelFields }}
{{- $pkgName := $.Package }}
{{- range $action := .UpdateActions }}
type {{ $resName | title }}{{ $action.Name | title }}ActionRequest struct {
	{{- range $field := $modelFields }}
	{{- if eq $field.Name $action.Param }}
	{{ .Name | title }} {{ if eq .Type "string" }}*string{{ else if eq .Type "integer" }}*int64{{ else if eq .Type "boolean" }}*bool{{ else if eq .Type "number" }}*float64{{ else if eq .Type "array" }}{{ if eq .ItemType "string" }}[]string{{ else if eq .ItemType "integer" }}[]int64{{ else }}{{ if .ItemSchema.RefName }}{{ if ne $pkgName "common" }}[]common.{{ .ItemSchema.RefName }}{{ else }}[]{{ .ItemSchema.RefName }}{{ end }}{{ else }}[]{{ $resName | title }}Create{{ .Name | title }}Request{{ end }}{{ end }}{{ else if eq .GoType "types.Map" }}map[string]interface{}{{ else if eq .Type "object" }}{{ if .RefName }}{{ if ne $pkgName "common" }}*common.{{ .RefName }}{{ else }}*{{ .RefName }}{{ end }}{{ else }}*{{ $resName | title }}Create{{ .Name | title }}Request{{ end }}{{ end }} `json:"{{ .Name }}"`
	{{- end }}
	{{- end }}
}

{{- range $field := $modelFields -}}
{{- if eq $field.Name $action.Param -}}
{{ template "sdkNestedStructs" dict "Fields" (makeSlice $field) "Prefix" (printf "%sCreate" ($resName | title)) "Package" $pkgName }}
{{- end -}}
{{- end -}}
{{- end }}

type {{ .Name | title }}Response struct {
	UUID *string `json:"uuid"`
	{{ template "sdkResponseStructFields" dict "Fields" .ResponseFields "Prefix" (.Name | title) "Package" $.Package }}
}
{{ template "sdkResponseNestedStructs" dict "Fields" .ResponseFields "Prefix" (.Name | title) "Package" $.Package }}

func (r *{{ .Name | title }}Response) GetState() string {
	{{- $hasState := false }}
	{{- range .ResponseFields }}
	{{- if eq .Name "state" }}
	{{- $hasState = true }}
	{{- end }}
	{{- end }}

	{{- if $hasState }}
	if r.State != nil {
		return *r.State
	}
	{{- end }}
	return "OK"
}

func (r *{{ .Name | title }}Response) GetErrorMessage() string {
	{{- $hasError := false }}
	{{- range .ResponseFields }}
	{{- if eq .Name "error_message" }}
	{{- $hasError = true }}
	{{- end }}
	{{- end }}

	{{- if $hasError }}
	if r.ErrorMessage != nil {
		return *r.ErrorMessage
	}
	{{- end }}
	return ""
}

{{ end }}
