package {{ .Package }}

import "time"

const (
	DefaultCreateTimeout = 15 * time.Minute
	DefaultUpdateTimeout = 15 * time.Minute
	DefaultDeleteTimeout = 15 * time.Minute
	DefaultActionTimeout = 15 * time.Minute
	DefaultPollDelay     = 10 * time.Second
	DefaultPollMinTimeout = 5 * time.Second
)
{{ range .Structs }}
{{ $struct := . }}
{{ if eq .GoType "types.String" }}
type {{ .RefName }} string

const (
{{- range .Enum }}
	{{ $struct.RefName }}{{ . | title | replace "-" "" | replace " " "" }} {{ $struct.RefName }} = "{{ . }}"
{{- end }}
)
{{ else }}
type {{ .RefName }} struct {
	{{ template "apiRequestStructFields" dict "Fields" .Properties "Prefix" .RefName }}
	{{ if eq .RefName "OrderDetails" }}
	Uuid *string `json:"uuid" tfsdk:"uuid"`
	{{ end }}
}
{{ template "apiRequestNestedStructs" dict "Fields" .Properties "Prefix" .RefName }}
{{ end }}
{{ end }}
