package {{ .Package }}


{{ range .Structs }}
type {{ .RefName }} struct {
	{{ template "apiRequestStructFields" dict "Fields" .Properties "Prefix" .RefName }}
	{{ if eq .RefName "OrderDetails" }}
	Uuid *string `json:"uuid" tfsdk:"uuid"`
	{{ end }}
}
{{ template "apiRequestNestedStructs" dict "Fields" .Properties "Prefix" .RefName }}
{{ end }}
