{{- /* Helper: Convert Terraform value to Go interface{} (for lists) */ -}}
{{- define "tfListToGo" -}}
{{- if eq .ItemType "string" }}
var items{{ .Suffix }} []interface{}
for _, elem := range data.{{ .FieldName }}.Elements() {
	if strVal, ok := elem.(types.String); ok {
		items{{ .Suffix }} = append(items{{ .Suffix }}, strVal.ValueString())
	}
}
{{- else if eq .ItemType "integer" }}
var items{{ .Suffix }} []interface{}
for _, elem := range data.{{ .FieldName }}.Elements() {
	if intVal, ok := elem.(types.Int64); ok {
		items{{ .Suffix }} = append(items{{ .Suffix }}, intVal.ValueInt64())
	}
}
{{- else if eq .ItemType "object" }}
var items{{ .Suffix }} []interface{}
for _, elem := range data.{{ .FieldName }}.Elements() {
	if objVal, ok := elem.(types.Object); ok {
		objMap := make(map[string]interface{})
		for key, attr := range objVal.Attributes() {
			switch v := attr.(type) {
			case types.String:
				objMap[key] = v.ValueString()
			case types.Int64:
				objMap[key] = v.ValueInt64()
			case types.Bool:
				objMap[key] = v.ValueBool()
			case types.Float64:
				objMap[key] = v.ValueFloat64()
			}
		}
		items{{ .Suffix }} = append(items{{ .Suffix }}, objMap)
	}
}
{{- end }}
{{- end -}}

{{- define "apiResponseStructFields" }}
	{{- $prefix := .Prefix }}
	{{- range .Fields }}
	{{ .Name | title }} {{ if eq .Type "string" }}*string{{ else if eq .Type "integer" }}*int64{{ else if eq .Type "boolean" }}*bool{{ else if eq .Type "number" }}*float64{{ else if eq .Type "array" }}{{ if eq .ItemType "string" }}[]string{{ else }}[]{{ $prefix }}{{ .Name | title }}Response{{ end }}{{ else if eq .GoType "types.Map" }}map[string]interface{}{{ else if eq .Type "object" }}*{{ $prefix }}{{ .Name | title }}Response{{ end }} `json:"{{ .Name }}" tfsdk:"{{ .TFSDKName }}"`
	{{- end }}
{{- end }}

{{- define "apiResponseNestedStructs" }}
{{- $prefix := .Prefix }}
{{- range .Fields }}
{{- if eq .Type "object" }}
type {{ $prefix }}{{ .Name | title }}Response struct {
	{{ template "apiResponseStructFields" dict "Fields" .Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) }}
}
{{ template "apiResponseNestedStructs" dict "Fields" .Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) }}
{{- else if and (eq .Type "array") (eq .ItemType "object") }}
type {{ $prefix }}{{ .Name | title }}Response struct {
	{{ template "apiResponseStructFields" dict "Fields" .ItemSchema.Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) }}
}
{{ template "apiResponseNestedStructs" dict "Fields" .ItemSchema.Properties "Prefix" (printf "%s%s" $prefix (.Name | title)) }}
{{- end }}
{{- end }}
{{- end }}


{{- define "mapResponseToModel" }}
	{{- $prefix := .Name | title }}
	{{- $fields := .ResponseFields }}
	{{- if .ModelFields }}{{ $fields = .ModelFields }}{{ end }}
	{{- range $fields }}
	{{- if eq .Type "string" }}
	model.{{ .Name | title }} = types.StringPointerValue(apiResp.{{ .Name | title }})
	{{- else if eq .Type "integer" }}
	model.{{ .Name | title }} = types.Int64PointerValue(apiResp.{{ .Name | title }})
	{{- else if eq .Type "boolean" }}
	model.{{ .Name | title }} = types.BoolPointerValue(apiResp.{{ .Name | title }})
	{{- else if eq .Type "number" }}
	model.{{ .Name | title }} = types.Float64PointerValue(apiResp.{{ .Name | title }})
	{{- else if eq .Type "array" }}
	{{- if eq .ItemType "string" }}
	model.{{ .Name | title }}, _ = types.ListValueFrom(ctx, types.StringType, apiResp.{{ .Name | title }})
	{{- else if eq .ItemType "object" }}
	listVal{{ .Name | title }}, listDiags{{ .Name | title }} := types.ListValueFrom(ctx, {{ toAttrType .ItemSchema }}, apiResp.{{ .Name | title }})
	diags.Append(listDiags{{ .Name | title }}...)
	model.{{ .Name | title }} = listVal{{ .Name | title }}
	{{- end }}
	{{- else if eq .GoType "types.Map" }}
	if apiResp.{{ .Name | title }} != nil {
		mapVal{{ .Name | title }}, mapDiags{{ .Name | title }} := types.MapValueFrom(ctx, types.StringType, apiResp.{{ .Name | title }})
		diags.Append(mapDiags{{ .Name | title }}...)
		model.{{ .Name | title }} = mapVal{{ .Name | title }}
	} else {
		model.{{ .Name | title }} = types.MapNull(types.StringType)
	}
	{{- else if eq .Type "object" }}
	if apiResp.{{ .Name | title }} != nil {
		objVal{{ .Name | title }}, objDiags{{ .Name | title }} := types.ObjectValueFrom(ctx, {{ toAttrType . }}.AttrTypes, *apiResp.{{ .Name | title }})
		diags.Append(objDiags{{ .Name | title }}...)
		model.{{ .Name | title }} = objVal{{ .Name | title }}
	} else {
		model.{{ .Name | title }} = types.ObjectNull({{ toAttrType . }}.AttrTypes)
	}
	{{- end }}
	{{- end }}
{{- end }}




{{- define "schemaNestedAttribute" }}
{{- if eq .GoType "types.List" }}
schema.ListNestedAttribute{
    NestedObject: schema.NestedAttributeObject{
        Attributes: map[string]schema.Attribute{
            {{- range .ItemSchema.Properties }}
                "{{ .TFSDKName }}": {{ template "schemaAttribute" . }}
            {{- end }}
        },
    },
    {{- if .ReadOnly }}
    Computed: true,
    {{- else if .Required }}
    Required: true,
    {{- else }}
    Optional: true,
    Computed: true,
    {{- end }}
    {{- if .ForceNew }}
    PlanModifiers: []planmodifier.List{
        listplanmodifier.RequiresReplace(),
    },
    {{- end }}
    MarkdownDescription: "{{ or (.Description | sanitize) " " }}",
},
{{- else if eq .GoType "types.Object" }}
schema.SingleNestedAttribute{
    Attributes: map[string]schema.Attribute{
        {{- range .Properties }}
            "{{ .TFSDKName }}": {{ template "schemaAttribute" . }}
        {{- end }}
    },
    {{- if .ReadOnly }}
    Computed: true,
    {{- else if .Required }}
    Required: true,
    {{- else }}
    Optional: true,
    Computed: true,
    {{- end }}
    {{- if .ForceNew }}
    PlanModifiers: []planmodifier.Object{
        objectplanmodifier.RequiresReplace(),
    },
    {{- end }}
    MarkdownDescription: "{{ or (.Description | sanitize) " " }}",
},
{{- end }}
{{- end }}

{{- define "schemaAttribute" }}
{{- if or (eq .GoType "types.List") (eq .GoType "types.Object") }}
    {{- if or (and (eq .GoType "types.List") (eq .ItemType "object")) (eq .GoType "types.Object") }}
        {{ template "schemaNestedAttribute" . }}
    {{- else }}
        {{- /* List of primitives */ -}}
        schema.ListAttribute{
            CustomType: {{ toAttrType . }},
            {{- if .ReadOnly }}
            Computed: true,
            {{- else if .Required }}
            Required: true,
            {{- else }}
            Optional: true,
            Computed: true,
            {{- end }}
            {{- if .ForceNew }}
            PlanModifiers: []planmodifier.List{
                listplanmodifier.RequiresReplace(),
            },
            {{- end }}
            MarkdownDescription: "{{ or (.Description | sanitize) " " }}",
        },
    {{- end }}
{{- else if eq .GoType "types.Map" }}
    schema.MapAttribute{
        ElementType: types.StringType,
        {{- if .ReadOnly }}
        Computed: true,
        {{- else if .Required }}
        Required: true,
        {{- else }}
        Optional: true,
        Computed: true,
        {{- end }}
        {{- if .ForceNew }}
        PlanModifiers: []planmodifier.Map{
            mapplanmodifier.RequiresReplace(),
        },
        {{- end }}
        MarkdownDescription: "{{ or (.Description | sanitize) " " }}",
    },
{{- else }}
    {{- /* Primitive Type */ -}}
    schema.{{ if eq .Type "string" }}String{{ else if eq .Type "integer" }}Int64{{ else if eq .Type "boolean" }}Bool{{ else if eq .Type "number" }}Float64{{ end }}Attribute{
        {{- if .ReadOnly }}
        Computed: true,
        {{- else if .Required }}
        Required: true,
        {{- else }}
        Optional: true,
        Computed: true,
        {{- end }}
        {{- if .ForceNew }}
        PlanModifiers: []planmodifier.{{ if eq .Type "string" }}String{{ else if eq .Type "integer" }}Int64{{ else if eq .Type "boolean" }}Bool{{ else if eq .Type "number" }}Float64{{ end }}{
            {{ if eq .Type "string" }}stringplanmodifier{{ else if eq .Type "integer" }}int64planmodifier{{ else if eq .Type "boolean" }}boolplanmodifier{{ else if eq .Type "number" }}float64planmodifier{{ end }}.RequiresReplace(),
        },
        {{- end }}
        MarkdownDescription: "{{ or (.Description | sanitize) " " }}",
        {{- if eq .Name "password" }}
        Sensitive: true,
        {{- end }}
    },
{{- end }}
{{- end }}


